<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/bulma.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <h1 class="title is-1">IFSP</h1>
    </header>
    <br>
    <div class="container">
        <h2 class="title">Bem-Vindo</h2>
        <p>SISTEMA  -  SECRETÁRIA</p>
    </div>
    <div class="container">
        <form action="post" id="formulario" >
            <h2 class="title">Login</h2>
            <section>
                <label for="usuario">Usuário:</label>
                <input type="text" class="input is-primary" id="usuario"
                placeholder="Usuario" autofocus="autofocus"><br>
            </section>
            <section>
                <label for="senha">Senha:</label>
                <input type="password" class="input is-primary" id="senha"
                placeholder="Senha" autofocus="autofocus"><br>
            </section>
            <div class="wrapper">
                <a href="cadastro/aluno.html"><span>Logar</span></a>
            </div>

            <!--<button class="button is-primary1">Logar</button>-->
        </form>
    </div>
    <br>
    <a href="cadastro/curso.html" style="height: 43%; width : 253px; background-color: #addef1; margin: auto"><span>Visualizar cursos</span></a>

</body>
</html>