<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saber+</title>
    <link rel="stylesheet" href="../../static/css/style1.css">
</head>
<body>
    <input type="checkbox" id="checkbox">
    <label class="btn" for="checkbox"><b>M <span>e n u</span></b></label>

    <div class="sidebar">
        <ul>
            <a href="aluno.html"><li>Listar de Alunos</li></a>
            <a href="cadastro_aluno.html"><li>Cadastrar de Aluno</li></a>
            <a href="curso.html"><li>Listar de Cursos</li></a>
            <a href="cadastra_curso.html"><li>Cadastrar de Cursos</li></a>
            <a href="#"><li>Usuário</li></a>
            <a href="../login.html"><li>Sair</li></a>
        </ul>
    </div>

    <div class="container" style="margin-top: 2%;">
        <br>
        <a href="cadastra_curso.html" onclick="cadastrarItem()">
            <img src="imagens/add.png" alt="Ícone de cadastra curso" style=" width: 50px; height: 50px; margin-left: 0.5%; color: yellow;">
        </a>
        <table id="customers">
            <tr>
                <th>Nome do curso</th>
                <th>Duração(Anos)</th>
                <th>Categoria</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
            <tr>
                <td>Gastronomia</td>
                <td>3</td>
                <td>Culinaria</td>
                <td>Curso de gastronomia voltado para restaurantes</td>
                <td style="text-align: center;">
                    <a href="../login.html" onclick="deletarItem()">
                        <img src="imagens/editar_curso.png" alt="Ícone de editar" style=" width: 40px; height: 40px; color: yellow;">
                    </a>
                    <a href="../login.html" onclick="deletarItem()">
                        <img src="imagens/excluir_curso.png" alt="Ícone de deletar" style="width: 40px; height: 40px; color: red;">
                    </a>
                </td>
            </tr>
            <tr>
                <td>Análise e Desenvolvimento de Sisyemas</td>
                <td>3</td>
                <td>Tecnologia</td>
                <td>Curso de desenvolvilemneto de software</td>
                <td style="text-align: center;">
                    <a href="../login.html" onclick="deletarItem()">
                        <img src="imagens/editar_curso.png" alt="Ícone de editar" style=" width: 40px; height: 40px; color: yellow;">
                    </a>
                    <a href="../login.html" onclick="deletarItem()">
                        <img src="imagens/excluir_curso.png" alt="Ícone de deletar" style="width: 40px; height: 40px; color: red;">
                    </a>
                </td>
            </tr>
            <tr>
                <td>Engenharia de Software</td>
                <td>4</td>
                <td>Informática</td>
                <td>Curso de enegenharia de software</td>
                <td style="text-align: center;">
                    <a href="../login.html" onclick="deletarItem()">
                        <img src="imagens/editar_curso.png" alt="Ícone de editar" style=" width: 40px; height: 40px; color: yellow;">
                    </a>
                    <a href="../login.html" onclick="deletarItem()">
                        <img src="imagens/excluir_curso.png" alt="Ícone de deletar" style="width: 40px; height: 40px; color: red;">
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <footer>
        <h2>IFSP</h2>
    </footer> 
    
    <a href="https://www.flaticon.com/br/icones-gratis/ui" style="font-size: 0.01%; bottom: 0; position: fixed" title="ui ícones">Ui ícones criados por Freepik - Flaticon</a>
</body>
</html>